body{
  width:100%;
  margin:0px;
}

h1{
  font-family: 'Amiri', serif;
  font-size: 20px;
  letter-spacing: 3px;
  padding-top: 1vw;
  padding-left: 115px;
  color: #5b5b5c;
}

h2{
  font-family: 'Amiri', serif;
  font-size: 30px;
  text-align: center;
  letter-spacing: 3px;
  color: #5b5b5c;
  display:flex;
  justify-content: center;
}

h3{
  font-family: 'Amiri', serif;
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
  color: #5b5b5c;
}


.boxed {
  border: 10px solid #ffffff ;
  margin-left: 300px;
  margin-right: 300px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 27px;
  text-align: justify;
  color: #5b5b5c;
}


.nav {
  background-color: none;
  overflow: hidden;
}

.nav a {
  display: block;
  color: #8596a6;
  text-align: left;
  padding: 8px 115px;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 3px;
}

.nav a:hover {
 color: #c1cfdb;
}

.imagery{
  padding-top: 2vw;
  padding-bottom: 5vw;
  display:inline-flex;
  height:55%;
}


#imagery1{
  display:flex;
  padding-left:8vw;
  padding-right: 1vw;
  width:22%;
}

#imagery2{
  width:27%;
  padding-right: 1vw;
}

#imagery3{
  width:27%;
  padding-right: 1vw;
}

img.wireframes{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  width:30%;
  padding-left: 35vw;
}

.label{
  margin-left: 40vw;
  font-family: 'Amiri', serif;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  color: #5b5b5c;
}
input#guess {
  margin-left:42vw;
}

#message{
  font-family: 'Amiri', serif;
  font-size: 30px;
  text-align: center;
  letter-spacing: 3px;
  color: #5b5b5c;
}
